.heading {
  display: inline-block;
}

.header {
  margin-top: 0.5%;
}

.move {
  margin-top: 0.5%;
  margin-right: 0.4%;
  padding:0.4% 0.8%;
  float:right;
}

.details {
  margin-top: 10%;
}

.side {
  display: inline-block;
}

.tempreture {
  display:flex;
  font-weight: bold;
  font-size: 10em;
  justify-content:space-around;
}

.default {
  margin-left: 7.5%;
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.rightmarg {
  margin-right: 0;
}
