/* CSS FOR ALL PAGES */

*{
  font-family: 'Open Sans', sans-serif;
}


.hide {
  display: none;
}

/* HOME SCREEN */

.mainpage{
  color: #f4f4f4;
  display:flex;
  flex-direction:column;
  margin-top: 12.5%;
}

.homeheading1, .homeheading {
  margin: 0 auto;
  font-size: 6em;
  font-weight: bold;
}

.hrmain {
 border-top: 1.5px solid #f4f4f4;
 width: 20%;
}

.mainicon {
  color: #f4f4f4;
  display: flex;
  margin-left: 47%;
}

.mainicons {
  font-size: 3.2em;
  margin-right:45px;
}

.mainicons:hover {
  color: #E0E0E0;
}

/* CURRENT LOCATION */

/* SEARCHED LOCATION */

/* LOADING SCREEN*/
.fa-map-marker{
  color: black;
}

body {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3498db, #5C97BF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3498db, #5C97BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heading {
  color:#f4f4f4;
  display: inline-block;
}

.header {
  margin-top: 0.5%;
}

.move {
  margin-top: 0.5%;
  margin-right: 0.4%;
  padding:0.4% 0.8%;
  float:right;
}

.details {
  color: #f4f4f4;
  margin-top: 9%;
  text-align: center;
}

.side {
  margin-right: 1%;
}

.side1 {
  margin-left:1%;
}

.tempreture {
  display:flex;
  font-weight: bold;
  font-size: 10em;
  justify-content:space-around;
  margin-bottom: -50px;
}
